
.DS_Store
Curso Python Sigmoidal/Gerando Relatório PDF/controle_abacates_em Word.doc
Curso Python Sigmoidal/Gerando Relatório PDF/controle_de_abacates.xlsx
Curso Python Sigmoidal/Gerando Relatório PDF/URL_notebook_da_aula.txt
